.root {
  display: flex;
  width: 100%;
  height: auto;
  position: relative;
  flex-direction: column;
  min-width: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 32px;
}
.box__i7VO {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  min-width: 0;
  flex-shrink: 0;
  border: 1px solid rgb(234, 234, 234) /* plasmic-token: G6Z2u-C5CF_mgM */;
}
.box__h2Pj4 {
  display: flex;
  position: relative;
  flex-direction: row;
  left: auto;
  top: auto;
  width: 100%;
  height: auto;
  min-width: 0;
}
.box__h2Pj4 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.box__h2Pj4 > :global(.__wab_flex-container) > *,
.box__h2Pj4 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__h2Pj4 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__h2Pj4 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__h2Pj4 > :global(.__wab_flex-container) > *,
  .box__h2Pj4 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.box__a6E29 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 128px;
  flex-shrink: 0;
}
.box__a6E29 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.box__a6E29 > :global(.__wab_flex-container) > *,
.box__a6E29 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.iconLink__ltgk0:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__hlWad {
  position: relative;
  object-fit: cover;
  color: rgb(101, 103, 107) /* plasmic-token: vaTuh5tFL3B */;
  width: 32px;
  height: 32px;
}
.box__rQwzX {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.link__gGefU {
  color: #535353 /* plasmic-token: kuK_i5Ypy0FAdx */;
}
.root .link__gGefU:hover {
  text-decoration-line: underline;
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.box__pg4Z1 {
  position: relative;
}
.link__tZfSb {
  position: relative;
  color: #535353 /* plasmic-token: kuK_i5Ypy0FAdx */;
}
.root .link__tZfSb:hover {
  text-decoration-line: underline;
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.box__uJPsL {
  display: flex;
  position: relative;
  flex-direction: row;
}
.box__uJPsL > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-end;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.box__uJPsL > :global(.__wab_flex-container) > *,
.box__uJPsL > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__uJPsL {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__uJPsL > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__uJPsL > :global(.__wab_flex-container) > *,
  .box__uJPsL > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.box__oaS {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 150px;
  flex-shrink: 0;
}
.box__oaS > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 3px);
  height: calc(100% + 3px);
}
.box__oaS > :global(.__wab_flex-container) > *,
.box__oaS > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 3px;
}
.box__xe824 {
  position: relative;
  font-weight: 700;
}
.link__xls6K {
  position: relative;
  color: #535353 /* plasmic-token: kuK_i5Ypy0FAdx */;
}
.root .link__xls6K:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__vvh0Y {
  position: relative;
  color: #535353 /* plasmic-token: kuK_i5Ypy0FAdx */;
}
.root .link__vvh0Y:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__pvOga {
  position: relative;
  color: #535353 /* plasmic-token: kuK_i5Ypy0FAdx */;
}
.root .link__pvOga:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link___2Pc0Y {
  position: relative;
  color: #535353 /* plasmic-token: kuK_i5Ypy0FAdx */;
}
.root .link___2Pc0Y:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__qpuMm {
  position: relative;
  color: #535353 /* plasmic-token: kuK_i5Ypy0FAdx */;
}
.root .link__qpuMm:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.box__rOwgm {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 150px;
  flex-shrink: 0;
}
.box__rOwgm > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 3px);
  height: calc(100% + 3px);
}
.box__rOwgm > :global(.__wab_flex-container) > *,
.box__rOwgm > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 3px;
}
.box__otLvu {
  position: relative;
  font-weight: 700;
}
.link__xs8A3 {
  position: relative;
  color: #535353 /* plasmic-token: kuK_i5Ypy0FAdx */;
}
.root .link__xs8A3:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__amovs {
  position: relative;
  color: #535353 /* plasmic-token: kuK_i5Ypy0FAdx */;
}
.root .link__amovs:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__d2Bfh {
  position: relative;
  color: #535353 /* plasmic-token: kuK_i5Ypy0FAdx */;
}
.root .link__d2Bfh:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link___4UVeb {
  position: relative;
  color: #535353 /* plasmic-token: kuK_i5Ypy0FAdx */;
}
.root .link___4UVeb:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__w0HF {
  position: relative;
  color: #535353 /* plasmic-token: kuK_i5Ypy0FAdx */;
}
.root .link__w0HF:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.box__dTaKs {
  display: flex;
  flex-direction: column;
  width: 150px;
  flex-shrink: 0;
}
.box__dTaKs > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 3px);
  height: calc(100% + 3px);
}
.box__dTaKs > :global(.__wab_flex-container) > *,
.box__dTaKs > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 3px;
}
.box__aY3Jz {
  position: relative;
  font-weight: 700;
}
.link__gCgcm {
  position: relative;
  color: #535353 /* plasmic-token: kuK_i5Ypy0FAdx */;
}
.root .link__gCgcm:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__wu9My {
  position: relative;
  color: #535353 /* plasmic-token: kuK_i5Ypy0FAdx */;
}
.root .link__wu9My:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__e1Q86 {
  position: relative;
  color: #535353 /* plasmic-token: kuK_i5Ypy0FAdx */;
}
.root .link__e1Q86:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__eueMq {
  position: relative;
  color: #535353 /* plasmic-token: kuK_i5Ypy0FAdx */;
}
.root .link__eueMq:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__c1LBg {
  position: relative;
  color: #535353 /* plasmic-token: kuK_i5Ypy0FAdx */;
}
.root .link__c1LBg:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.box__oufTk {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 200px;
  flex-shrink: 0;
}
.box__oufTk > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 3px);
  height: calc(100% + 3px);
}
.box__oufTk > :global(.__wab_flex-container) > *,
.box__oufTk > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 3px;
}
.box___64Tj {
  position: relative;
  font-weight: 700;
}
.box__mmxiX {
  position: relative;
}
.box___0MnsI {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: 0;
  border-radius: 5px;
  border: 1px solid rgb(228, 230, 235) /* plasmic-token: 4QM1pZKqI */;
}
.textbox {
  position: relative;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 12px;
  min-width: 0;
  border-width: 0px;
}
.button {
  position: relative;
  color: rgb(24, 119, 242) /* plasmic-token: p-fCTrfjtL4 */;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 1px;
  border-left-style: solid;
}
.box__u6Igs {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  min-width: 0;
  flex-shrink: 0;
  border: 1px solid rgb(234, 234, 234) /* plasmic-token: G6Z2u-C5CF_mgM */;
}
.box___1Mvyn {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  left: auto;
  top: auto;
  width: 100%;
  height: auto;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box___1Mvyn {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box___1Mvyn > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box___1Mvyn > :global(.__wab_flex-container) > *,
  .box___1Mvyn > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.box__xhij8 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.link___4QiiY {
  position: relative;
  color: #535353 /* plasmic-token: kuK_i5Ypy0FAdx */;
  height: auto;
}
.root .link___4QiiY:hover {
  text-decoration-line: underline;
}
.link__oaf30 {
  position: relative;
  color: #535353 /* plasmic-token: kuK_i5Ypy0FAdx */;
}
.root .link__oaf30:hover {
  text-decoration-line: underline;
}
.box___9RuPl {
  position: relative;
  height: auto;
  width: auto;
  display: inline-block;
}
.box__r47R2 {
  display: flex;
  position: relative;
  flex-direction: row;
}
.box__r47R2 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.box__r47R2 > :global(.__wab_flex-container) > *,
.box__r47R2 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 16px;
}
.iconLink__puyG7:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__tJNqg {
  position: relative;
  object-fit: cover;
  color: rgb(101, 103, 107) /* plasmic-token: vaTuh5tFL3B */;
  width: 32px;
  height: 32px;
}
.root .svg__tJNqg:hover {
  color: rgb(24, 25, 26) /* plasmic-token: dph1wZ7NjV9 */;
}
.iconLink___0Qwg:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__yKXo3 {
  position: relative;
  object-fit: cover;
  color: rgb(101, 103, 107) /* plasmic-token: vaTuh5tFL3B */;
  width: 32px;
  height: 32px;
}
.root .svg__yKXo3:hover {
  color: rgb(24, 25, 26) /* plasmic-token: dph1wZ7NjV9 */;
}
.iconLink__bkpAy:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__bK98N {
  position: relative;
  object-fit: cover;
  color: rgb(101, 103, 107) /* plasmic-token: vaTuh5tFL3B */;
  width: 32px;
  height: 32px;
}
.root .svg__bK98N:hover {
  color: rgb(24, 25, 26) /* plasmic-token: dph1wZ7NjV9 */;
}
