.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding-right: 16px;
  padding-left: 16px;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.box__iBkD2 {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  max-width: 1600px;
  min-width: 0;
}
.box__iBkD2 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.box__iBkD2 > :global(.__wab_flex-container) > *,
.box__iBkD2 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 64px;
}
.header:global(.__wab_instance) {
  position: relative;
}
.topSection:global(.__wab_instance) {
  position: relative;
}
.section__dbDlk:global(.__wab_instance) {
  position: relative;
}
.box__qP7XU {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.box__qP7XU > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.box__qP7XU > :global(.__wab_flex-container) > *,
.box__qP7XU > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__qP7XU {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__qP7XU > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 12px);
    height: calc(100% + 12px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__qP7XU > :global(.__wab_flex-container) > *,
  .box__qP7XU > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 12px;
  }
}
.box___3TMhG {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
.box___3TMhG > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.box___3TMhG > :global(.__wab_flex-container) > *,
.box___3TMhG > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box___3TMhG {
    width: 100%;
    min-width: 0;
  }
}
.box__h54S {
  position: relative;
  font-size: 32px;
  font-weight: 700;
}
.box__q6J7Q {
  position: relative;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
}
.featureCard__veCx:global(.__wab_instance) {
  position: relative;
}
.svg__c7Hz5 {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg__isXqC {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__rdjsy:global(.__wab_instance) {
  position: relative;
}
.svg__dxMcu {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg__boq8E {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__bkqzs:global(.__wab_instance) {
  position: relative;
}
.svg__kbpHr {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg__uvFp6 {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.box__bIhKz {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__bIhKz {
    width: 100%;
    min-width: 0;
  }
}
.img___33Mt {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__jTm5U {
  position: absolute;
  object-fit: cover;
  left: 0px;
  top: 30%;
  width: 90%;
}
.box__pXyon {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
  padding: 64px;
}
.box__xi2Lp {
  display: block;
  position: absolute;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  left: 0px;
  top: 50%;
  height: 50%;
  width: 100%;
  background: rgb(5, 5, 5);
}
.section__fTpNb:global(.__wab_instance) {
  position: relative;
}
.box__toOo {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.box__toOo > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.box__toOo > :global(.__wab_flex-container) > *,
.box__toOo > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 20px;
  margin-top: 20px;
}
.featureCard__oBnn5:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__zdLwi {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: GssskmtB3gSA5A */;
}
.svg__xMbM {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__lxSi3:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__xj85E {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: GssskmtB3gSA5A */;
}
.svg__u6WyL {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__jl9Q5:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__zmHb8 {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: GssskmtB3gSA5A */;
}
.svg__q3VrA {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__hpDi4:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__z5VP {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: GssskmtB3gSA5A */;
}
.svg__jJPqT {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__f6Vr2:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__plH3E {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: GssskmtB3gSA5A */;
}
.svg__wk5ZJ {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__hUeh5:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__ivIzo {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: GssskmtB3gSA5A */;
}
.svg__hNov6 {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.box__bNz02 {
  display: block;
  position: absolute;
  left: 50%;
  top: 95%;
  width: 2px;
  height: 88px;
  flex-shrink: 0;
  border: 1px solid rgb(234, 234, 234) /* plasmic-token: G6Z2u-C5CF_mgM */;
}
.section__oxPko:global(.__wab_instance) {
  position: relative;
}
.box__qj0Ek {
  display: flex;
  position: relative;
  flex-direction: row;
}
.box__qj0Ek > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.box__qj0Ek > :global(.__wab_flex-container) > *,
.box__qj0Ek > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 48px;
  margin-top: 24px;
}
.svg___4Pyug {
  position: relative;
  object-fit: cover;
  width: 124px;
  height: 24px;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
  flex-shrink: 0;
}
.svg__ysNsl {
  position: relative;
  object-fit: cover;
  width: 83px;
  height: 30px;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
  flex-shrink: 0;
}
.svg__jcLYx {
  position: relative;
  object-fit: cover;
  width: 125px;
  height: 39px;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
  flex-shrink: 0;
}
.svg__zIs6 {
  position: relative;
  object-fit: cover;
  width: 113px;
  height: 30px;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
  flex-shrink: 0;
}
.svg__eOzeM {
  position: relative;
  object-fit: cover;
  width: 109px;
  height: 33px;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
  flex-shrink: 0;
}
.testimonial:global(.__wab_instance) {
  position: relative;
}
.homeCta:global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
}
