.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding-right: 16px;
  padding-left: 16px;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.box__lEtPl {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  max-width: 1600px;
  min-width: 0;
}
.box__lEtPl > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.box__lEtPl > :global(.__wab_flex-container) > *,
.box__lEtPl > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 64px;
}
.header:global(.__wab_instance) {
  position: relative;
}
.section__thBzq:global(.__wab_instance) {
  position: relative;
}
.box__mg8V3 {
  display: flex;
  position: relative;
  flex-direction: row;
}
.box__mg8V3 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.box__mg8V3 > :global(.__wab_flex-container) > *,
.box__mg8V3 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__mg8V3 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__mg8V3 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 20px);
    height: calc(100% + 20px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__mg8V3 > :global(.__wab_flex-container) > *,
  .box__mg8V3 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 20px;
  }
}
.plan__k37CP:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.box__ovD04 {
  font-size: 48px;
}
.box___1JSfw {
  display: flex;
  flex-direction: column;
  position: relative;
}
.box___1JSfw > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.box___1JSfw > :global(.__wab_flex-container) > *,
.box___1JSfw > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 8px;
}
.bullet__uDd62:global(.__wab_instance) {
  position: relative;
}
.bullet__vKLry:global(.__wab_instance) {
  position: relative;
}
.bullet__gzD7S:global(.__wab_instance) {
  position: relative;
}
.plan__hsGe:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.box__bGy0G {
  font-size: 48px;
}
.box__rmob1 {
  display: flex;
  flex-direction: column;
  position: relative;
}
.box__rmob1 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.box__rmob1 > :global(.__wab_flex-container) > *,
.box__rmob1 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 8px;
}
.bullet__bLBgV:global(.__wab_instance) {
  position: relative;
}
.bullet__kC3Wy:global(.__wab_instance) {
  position: relative;
}
.bullet__p8UsS:global(.__wab_instance) {
  position: relative;
}
.bullet__cscSj:global(.__wab_instance) {
  position: relative;
}
.plan__uBazl:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.box__kmytQ {
  font-size: 48px;
}
.box___5LBbx {
  display: flex;
  flex-direction: column;
  position: relative;
}
.box___5LBbx > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.box___5LBbx > :global(.__wab_flex-container) > *,
.box___5LBbx > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 8px;
}
.bullet__gcz47:global(.__wab_instance) {
  position: relative;
}
.bullet__xy1ZA:global(.__wab_instance) {
  position: relative;
}
.bullet__uKa2B:global(.__wab_instance) {
  position: relative;
}
.section___75JPl:global(.__wab_instance) {
  position: relative;
}
.faq__mzbhf:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.faq__yId7T:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.faq__eqGS:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
}
